<form action="/login/result" method="POST">
  <div class="mb-3">
    <label for="validationDefaultUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="validationDefaultUsername" name="username" placeholder="Username here" required>
  </div>
  <div class="mb-3">
    <label for="validationDefaultPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="validationDefaultPassword" name="password" placeholder="Password here" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>